
<div class="page-header">
  <h1><%= @blog.name%></h1>
  <small> 
  <%= @blog.body %>
  </small>
</div>


<div id="my-articles">
<%=  render @articles %>
</div>

<button class="btn btn-info btn-small center" id="more"> Załaduj więcej!</button>

<script type="text/javascript">

  
    $('body').css('background-image', 'url(' + '<%= @blog.avatar.url %>'  + ')' );

    var counter = 2;
    var url = '/blogs/'+ <%= @blog.id %> +'?page='+counter+'';
    var divv = '#my-articles';
    removeButon(counter,<%= @blog.articles.count %>, '#more');

    $('#more').on('click',function(){
      counter = myPagination(url,counter,divv, '#more' );
      removeButon(counter,<%= @blog.articles.count %>, '#more');

      url = '/blogs/'+ <%= @blog.id %> +'?page='+counter+'';

    });


</script>